.green-text {
  color: green;
}

* {
  color: gray;
}

a {
  color: rgb(5, 39, 51);
}

#main-title {
  font-family: Arial, sans-serif;
}

ul li {
  font-weight: 700;
  font-size: 18px;
}

.content-block > * {
  color: coral;
}
